.main {
    padding: 190px 0 231px;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__content {
    max-width: 588px;
}

.main__description {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    max-width: 486px;
}

.main__button {
    margin-top: 60px;
}

